@import "_grid-system.css";
@import "_reset.css";

.main-bg {
    width: 100%;
    height: 100vh;
    background-image: url("../img/sky.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.road {
    background-image: url("../img/road.jpg");
    height: 200px;
    width: 500%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: road 5s linear infinite;
}

@keyframes road {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-4000px);
    }
}

.city {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20%;
    width: 500%;
    height: 250px;
    background-repeat: repeat-x;
    background-image: url("../img/city.png");
    animation: city 10s linear infinite;
}

@keyframes city {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-4000px);
    }
}

.car {
    width: 100%;
}

.car {
    width: 400px;
    position: absolute;
    left: 50%;
    bottom: 17.5%;
    transform: translateX(-50%);
}

.car img {
    width: 100%;
    animation: shake 1s linear infinite;

}

@keyframes shake {
    0% {
        transform: translateY(-1px);
    }
    25% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-1px);
    }
    75% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(-1px);
    }
}

.wheels img{
    animation: spinning 1s linear infinite;

}
.wheels .front {
    position: absolute;
    left: 54%;
    bottom: 18%;
    width: 80px;

}

.wheels .rear {
    position: absolute;
    left: 41.2%;
    bottom: 18%;
    width: 80px;


}
@keyframes spinning{
    100%{
        transform: rotate(360deg);
    }

}
